<div class="bg-gray-800 text-gray-200 min-h-screen py-2">
    <div class="max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-4">
       @if(this.posts.length > 0){        
        @for (post of this.posts; track $index) {
        <div class="bg-gray-900 text-gray-200 shadow-lg rounded-lg p-6 border border-gray-700">
          <div class="flex justify-between items-center">
            <h3 class="text-xl font-bold text-blue-400">{{post.topic}}</h3>
            <span class="text-sm text-gray-400">{{post.when | formatDateTime}}</span>
          </div>
          <p class="text-gray-300 mt-4">
            {{post.description}}
          </p>
          <div class="flex items-center mt-6">
            <img
              src="img_avatar.png"
              alt="User Avatar"
              class="w-10 h-10 rounded-full mr-4"
            />
            <div>
              <p class="text-sm font-semibold text-gray-200">{{post.who.username}}</p>
            </div>
          </div>
          <div class="flex justify-between items-center mt-4">
            <a [routerLink]="['/all', post._id]" class="bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400">
              View Details
            </a>
            @if(post.isOwner){
              <a [routerLink]="['/edit', post._id]" class="bg-gray-700 hover:bg-gray-800 text-gray-100 px-4 py-2 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-gray-500">
                Edit
              </a>
              <a (click)="deletePost(post._id)" class="bg-red-600 hover:bg-red-700 text-gray-100 px-4 py-2 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-red-400 transform transition-all duration-200 hover:scale-105 hover:shadow-lg cursor-pointer">
                Delete
              </a>
            }
            <div class="flex space-x-3 text-sm text-gray-400">
              <span class="flex items-center space-x-1">
              </span>
              <span class="flex items-center space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h4" />
                </svg> 
               <span>{{post.comments.length}} comments</span>
              </span>
            </div>
          </div>
        </div>
       }
      }
    </div>   
    @if(this.showMessage){
      <app-success-message [successMessageHeader]="this.successMessages[0]" [successMessageContent]="this.successMessages[1]"></app-success-message>
    }
</div>

