<form [formGroup]="this.registerForm" (ngSubmit)="registerUser()">
<section class="flex justify-center items-center h-screen bg-gray-800">
    <div class="max-w-md w-full bg-gray-900 rounded p-6 space-y-4">
        <div class="mb-4">
            <p class="text-gray-400">Register</p>
            <h2 class="text-xl font-bold text-white">Join our community</h2>
        </div>
        <div>
            <input formControlName="email" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="text" placeholder="Email">
        </div>
        @if(this.registerForm.get('email')?.hasError('required') && this.registerForm.get('email')?.touched){
            <app-error-message [errorMessage]="'Email is required'"></app-error-message>
        }
        @if(this.registerForm.get('email')?.hasError('email') && this.registerForm.get('email')?.touched){
            <app-error-message [errorMessage]="'Please enter a valid email'"></app-error-message>
        }
        <div>
            <input formControlName="username" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="text" placeholder="Username">
        </div>
        @if(this.registerForm.get('username')?.hasError('required') && this.registerForm.get('username')?.touched){
            <app-error-message [errorMessage]="'Username is required'"></app-error-message>
        }
        <div>
            <input formControlName="password" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="password" placeholder="Password">
        </div>
        @if(this.registerForm.get('password')?.hasError('required') && this.registerForm.get('password')?.touched){
            <app-error-message [errorMessage]="'Password is required'"></app-error-message>
        }
        <div>
            <input formControlName="repeatPassword" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="password" placeholder="Repeat Password">
        </div>
        @if(this.registerForm.get('repeatPassword')?.hasError('required') && this.registerForm.get('repeatPassword')?.touched){
            <app-error-message [errorMessage]="'Repeat Password is required'"></app-error-message>
        }
        @if(this.registerForm.get('repeatPassword')?.hasError('passwordMismatch') && this.registerForm.get('repeatPassword')?.touched){
            <app-error-message [errorMessage]="'Passwords do not match'"></app-error-message>
        }
        @if(this.apiErrorMessage){
            <app-error-message [errorMessage]="this.apiErrorMessage"></app-error-message>
          }
        <div>
            <button [disabled]="this.registerForm.invalid" class="w-full py-4 rounded text-sm font-bold transition duration-200 text-gray-50 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:bg-gray-400">Sign Up</button>
        </div>
        <div class="flex items-center justify-between">
        </div>
    </div>
</section>
</form>